.navbar {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  }

  .logo {
    margin-right: 15px;
  }

  .align-items-center {
    display: flex;
    align-items: center;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    padding:30px 40px;
  }
  .icons{
    display: flex;
    justify-content: space-between;
  }
  .icons>div{
    padding:0px 20px;

  }
.grey-color{
    color: rgb(184, 184, 184);
}
.user-dropdown{
    display: flex;
    flex-direction: column !important;
}